<%- include('partials/header_1') -%>
<!-- Primary Meta Tags -->
<title>Servant | Dashboard: <%= guild.name %> — Moderation: Custom Commands</title>
<meta name="title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Custom Commands">
<meta name="description" content="Create custom commands!">

<!-- SEO -->
<meta name="keywords" content="discord,discordbot,bot,bots,servant,moderation,information,fun,interaction,random,utility,role management,channel management,management,leveling,giveaways,giveaway,polls,poll,level,levels,social interactions,anime,voice management,voice channel,voice,embed,profile,birthday,coinflip,remindme,reminder,timezone">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="30 days">
<meta name="author" content="Tancred#0001">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://servant.gg/<%= guild.id %>/moderation/customcommands">
<meta property="og:title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Custom Commands">
<meta property="og:description" content="Create custom commands!">
<meta property="og:image" content="https://i.imgur.com/lLuoClj.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://servant.gg/<%= guild.id %>/moderation/customcommands">
<meta property="twitter:title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Custom Commands">
<meta property="twitter:description" content="Create custom commands!">
<meta property="twitter:image" content="https://i.imgur.com/lLuoClj.jpg">
<%- include('partials/header_2') -%>
<%- include('partials/nav') -%>
<%- include('partials/nav_highlights/nav_dash') -%>

<script>
  var globalBotRoles = <%- JSON.stringify(botGuild.roles.cache) %>;
  var globalBotChannels = <%- JSON.stringify(botGuild.channels.cache) %>;
  var globalIsSupporter = <%- JSON.stringify(isSupporter); %>;
  var globalColorCode = <%- JSON.stringify(colorCode); %>;
  var globalGuild = <%- JSON.stringify(guild); %>;
  var globalCcs = <%- JSON.stringify(ccs); %>;
  var globalCcEmbeds = <%- JSON.stringify(ccEmbeds); %>;
  var globalCcFields = <%- JSON.stringify(ccFields); %>;
  var globalTimestampTzs = <%- JSON.stringify(timestampTzFormats); %>;
  var globalPrefix = <%- JSON.stringify(prefix); %>;
  var globalCommandsAmount = <%- JSON.stringify(commandsAmount); %>;
  var globalCcAliases = <%- JSON.stringify(ccAliases); %>;
</script>

<% const plugin = disabledPlugins[0] ? '' : 'checked'; %>

<div class="main-wrapper">
  <div class="dash-user-wrapper">
    <div class="dash-featured">
      <div id="meta"></div>
      <h1>Dashboard:
        <% if (guild.icon === null) { %>
        <img src="/images/no_user.png" alt="Default Server Icon">
        <% } else { %>
        <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt="Server Icon">
        <% } %>
        <%= guild.name %>
      </h1>
      <div class="path"><a href="/">Home</a> > <a href="/dashboard">Dashboard</a> > <a href="/dashboard/<%= guild.id %>"><%= guild.name %></a> > <a href="/dashboard/<%= guild.id %>/moderation">Moderation</a> > <a href="/dashboard/<%= guild.id %>/moderation/customcommands">Custom Commands</a></div>
    </div>
    <div class="main-content banner">
      <div class="padding-top padding-bottom padding-left padding-right">
        <div class="global-switch">
          <div id="dismissible-item-plugins" data-component="dismissible-item" data-type="error" data-value="Couldn't update plugin toggle."></div>
          <span><i class="fas fa-user-cog"></i> Custom Commands Plugin</span>
          <label class="switch">
            <input name="<%= guild.id %>" type="checkbox" onclick="submitPlugins(this, 'customcommands')" <%= plugin %> />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="com-sub-featured">
      <div class="padding-top padding-bottom padding-left padding-right">
        <div id="dismissible-item-delete" data-component="dismissible-item" data-type="error" data-value="Couldn't delete custom command."></div>

        <!-- Trigger/Open The Modal -->
        <button id="reactionrole-modal-create-button" class="btn-redirect center-button mobile-right" onclick="openModalCreateCc(this);">+ Create</button>

        <div id="cc-amount-wrapper">
          <div id="cc-amount">
            Total commands: <%= commandsAmount %> / 100
          </div>
        </div>

        <!-- The message list -->
        <% if (ccs.length > 0) { %>
        <%   for (let i = 0; i < ccs.length; i++) { %>
          <%     const cc = ccs[i];  %>
        <div class="cc-msg">
          <div class="cc-invoke">
            <%= prefix %><%= cc.invoke %>
          </div>
          <div class="cc-msg-type">
            <%= cc.normal_msg ? 'Normal' : 'Embed' %>
          </div>
          <div class="edit-buttons">
            <div class="edit-button">
              <button id="reactionrole-modal-edit-button" class="btn-redirect empty" name="<%= cc.invoke %>" onclick="openModalEditCc(this);">
                <i class="fas fa-edit"></i> <span class="hide-on-mobile">Edit</span>
              </button>
            </div>
            <div class="delete-button">
              <button id="reactionrole-delete-button" class="btn-redirect btn-danger empty" name="<%= guild.id %>|<%= cc.invoke %>" onclick="deleteCc(this);">
                <i class="fas fa-trash"></i> <span class="hide-on-mobile">Delete</span>
              </button>
            </div>
          </div>
        </div>
        <%   } %>
        <% } %>

        <div id="modals-wrapper">

        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
