<%- include('partials/header-1') -%>
<!-- Primary Meta Tags -->
<title>Servant | Donate</title>
<meta name="title" content="Servant | Donate — To support your favourite dev!">
<meta name="description" content="Feel free to support this project!">

<!-- SEO -->
<meta name="keywords" content="discord,discordbot,bot,bots,servant,moderation,information,fun,interaction,random,utility,role management,channel management,management,leveling,giveaways,giveaway,polls,poll,level,levels,social interactions,anime,voice management,voice channel,voice,embed,profile,birthday,coinflip,remindme,reminder,timezone">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="30 days">
<meta name="author" content="Tancred#0001">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://servant.gg/donate">
<meta property="og:title" content="Servant | Donate — To support your favourite dev!">
<meta property="og:description" content="Feel free to support this project!">
<meta property="og:image" content="https://i.imgur.com/lLuoClj.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://servant.gg/donate">
<meta property="twitter:title" content="Servant | Donate — To support your favourite dev!">
<meta property="twitter:description" content="Feel free to support this project!">
<meta property="twitter:image" content="https://i.imgur.com/lLuoClj.jpg">
<%- include('partials/header-2') -%>
<%- include('partials/nav') -%>
<%- include('partials/nav-highlights/nav-dona') -%>

<div class="main-wrapper">
  <div class="donate-wrapper">
    <div class="donate-featured">
      <div id="meta"></div>
      <h1>Donate</h1>
    </div>
    <div class="main-content">
      <div class="padding-top padding-bottom padding-left padding-right">
        If you feel like giving something back, you can support Servant. This is completely voluntary and Servant will never include any pay 2 win features.<br />
        This is my only income for this project, so I am very grateful to any generous supporter. <img class="emote-big" src="/images/servantKiss.png" alt="servantKiss"><br />
        Servant-Supporters can choose custom colours on embed messages and choose a custom profile background.
      </div>
    </div>
    <div class="donate-sub-featured">
      <div class="donate-methods">
        <div class="patreon">
          <div class="title">
            <img src="/images/patreon.png" alt="Patreon"> Patreon
          </div>
          <div class="body">
            <div class="price">
              <div class="inner-title">
                Price
              </div>
              <div class="text">
                only $1 / month
              </div>
            </div>
            <div class="duration">
              <div class="inner-title">
                Duration
              </div>
              <div class="text">
                As long as you pledge
              </div>
            </div>
          </div>
          <div class="donate-button">
            <a href="https://www.patreon.com/tancred" class="donate-button" target="_blank">Become a Patron</a>
          </div>
        </div>

        <div class="paypal">
          <div class="title">
            <img src="/images/paypal.png" alt="Paypal"> Paypal
          </div>
          <div class="body">
            <div class="price">
              <div class="inner-title">
                Price
              </div>
              <div class="text">
                only $5
              </div>
            </div>
            <div class="duration">
              <div class="inner-title">
                Duration
              </div>
              <div class="text">
                Lifetime
              </div>
            </div>
          </div>
          <div class="donate-button">
            <a href="https://paypal.me/servantdiscord" class="donate-button" target="_blank">Donate</a>
          </div>
        </div>

        <div class="serverboost">
          <div class="title">
            <img src="/images/serverboost.png" alt="ServerBoost"> Server Boost
          </div>
          <div class="body">
            <div class="price">
              <div class="inner-title">
                Price
              </div>
              <div class="text">
                FREE
              </div>
            </div>
            <div class="duration">
              <div class="inner-title">
                Duration
              </div>
              <div class="text">
                As long as you boost
              </div>
            </div>
          </div>
          <div class="donate-button">
            <a href="https://support.servant.gg/" class="donate-button" target="_blank">Boost now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
