<%- include('partials/header_1') -%>
<!-- Primary Meta Tags -->
<title>Servant | FAQ</title>
<meta name="title" content="Servant | FAQ — To answer all your questions">
<meta name="description" content="Got any questions? Come here!">

<!-- SEO -->
<meta name="keywords" content="discord,discordbot,bot,bots,servant,moderation,information,fun,interaction,random,utility,role management,channel management,management,leveling,giveaways,giveaway,polls,poll,level,levels,social interactions,anime,voice management,voice channel,voice,embed,profile,birthday,coinflip,remindme,reminder,timezone">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="30 days">
<meta name="author" content="Tancred#0001">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://servant.gg/faq">
<meta property="og:title" content="Servant | FAQ — To answer all your questions">
<meta property="og:description" content="Got any questions? Come here!">
<meta property="og:image" content="https://i.imgur.com/lLuoClj.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://servant.gg/faq">
<meta property="twitter:title" content="Servant | FAQ — To answer all your questions">
<meta property="twitter:description" content="Got any questions? Come here!">
<meta property="twitter:image" content="https://i.imgur.com/lLuoClj.jpg">
<%- include('partials/header_2') -%>
<%- include('partials/nav') -%>
<%- include('partials/nav_highlights/nav_faq') -%>

<div class="main-wrapper">
    <div class="faq-wrapper">
        <div class="faq-featured">
            <div id="meta"></div>
            <h1>FAQ</h1>
        </div>
        <div class="main-content">
            <div class="padding-left padding-right padding-top">
                <div class="qnas">
                    <div class="qna" id="what-is-servant">
                        <div class="highlight">
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                        <a href="#what-is-servant" class="copy-link">
                            <i class="fas fa-link"></i>
                        </a>
                        <div class="q">
                            <div class="q-icon">
                                <span>Q</span>
                            </div>
                            <div class="q-text">
                                <span>What is Servant?</span>
                            </div>
                        </div>
                        <div class="a">
                            <div class="a-icon">
                                <span>A</span>
                            </div>
                            <div class="a-text">
                                <span>
                                    Servant is a bot for <a href="https://wikipedia.org/wiki/Discord_(software)" target="_blank">Discord</a>, a <a href="https://wikipedia.org/wiki/Voice_over_IP" target="_blank">VoIP</a> application.
                                    She will help you to improve your Discord server by organizing and moderating channels, roles and
                                    members and by entertaining your members.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="qna" id="why-should-i-use-servant">
                        <div class="highlight">
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                        <a href="#why-should-i-use-servant" class="copy-link">
                            <i class="fas fa-link"></i>
                        </a>
                        <div class="q">
                            <div class="q-icon">
                                <span>Q</span>
                            </div>
                            <div class="q-text">
                                <span>Why should I use Servant?</span>
                            </div>
                        </div>
                        <div class="a">
                            <div class="a-icon">
                                <span>A</span>
                            </div>
                            <div class="a-text">
                                <span>
                                    Servant is designed to satisfy all your needs for you Discord server.
                                    I personally don't like to have a ton of bots on my server, so I decided to create one, that can do
                                    almost everything.
                                    While doing this, it was very important to me, that each feature is high quality as many
                                    multipurpose Discord bots have many but poorly designed features.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="qna" id="how-to-get-started">
                        <div class="highlight">
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                        <a href="#how-to-get-started" class="copy-link">
                            <i class="fas fa-link"></i>
                        </a>
                        <div class="q">
                            <div class="q-icon">
                                <span>Q</span>
                            </div>
                            <div class="q-text">
                                <span>How to get started?</span>
                            </div>
                        </div>
                        <div class="a">
                            <div class="a-icon">
                                <span>A</span>
                            </div>
                            <div class="a-text">
                                <span>
                                    <ol>
                                        <li><a href="https://invite.servant.gg/" target="_blank">Invite Servant</a></li>
                                        <li>Setup Servant in the <a href="/dashboard">Dashboard</a></li>
                                        <li>Commands can be found in the <a href="/help">Help</a> section and plugins can be found in the <a href="/dashboard">Dashboard</a>.</li>
                                    </ol>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="qna" id="how-to-report-a-bug-request-a-feature-ask-a-question">
                        <div class="highlight">
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                        <a href="#how-to-report-a-bug-request-a-feature-ask-a-question" class="copy-link">
                            <i class="fas fa-link"></i>
                        </a>
                        <div class="q">
                            <div class="q-icon">
                                <span>Q</span>
                            </div>
                            <div class="q-text">
                                <span>How to report a bug / request a feature / ask a question?</span>
                            </div>
                        </div>
                        <div class="a">
                            <div class="a-icon">
                                <span>A</span>
                            </div>
                            <div class="a-text">
                                <span>
                                    Feel free to <a href="https://support.servant.gg/">join the support server</a>.<br />
                                    Please use the correct text channel for your issue.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="qna" id="how-to-change-the-prefix">
                        <div class="highlight">
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                        <a href="#how-to-change-the-prefix" class="copy-link">
                            <i class="fas fa-link"></i>
                        </a>
                        <div class="q">
                            <div class="q-icon">
                                <span>Q</span>
                            </div>
                            <div class="q-text">
                                <span>How to change the prefix?</span>
                            </div>
                        </div>
                        <div class="a">
                            <div class="a-icon">
                                <span>A</span>
                            </div>
                            <div class="a-text">
                                <span>
                                    The prefix can be changed in the <a href="/dashboard">Dashboard</a>.<br />
                                    Make sure to change the prefix in the dashboard of your server. The personal prefix only applies in DM's.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="qna" id="do-i-have-to-use-the-braces-in-any-command">
                        <div class="highlight">
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                        <a href="#do-i-have-to-use-the-braces-in-any-command" class="copy-link">
                            <i class="fas fa-link"></i>
                        </a>
                        <div class="q">
                            <div class="q-icon">
                                <span>Q</span>
                            </div>
                            <div class="q-text">
                                <span>Do I have to use the braces <span class="highlightme light">&lt;</span> and <span class="highlightme light">&gt;</span> or <span class="highlightme light">[</span> and <span class="highlightme light">]</span> in any command?</span>
                            </div>
                        </div>
                        <div class="a">
                            <div class="a-icon">
                                <span>A</span>
                            </div>
                            <div class="a-text">
                                <span>
                                    No, they just mark placeholders.<br />
                                    For example <span class="highlightme light">!clear [1 - 100]</span> becomes <span class="highlightme light">!clear 50</span>.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="qna" id="how-to-enable-the-leveling-system">
                        <div class="highlight">
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                        <a href="#how-to-enable-the-leveling-system" class="copy-link">
                            <i class="fas fa-link"></i>
                        </a>
                        <div class="q">
                            <div class="q-icon">
                                <span>Q</span>
                            </div>
                            <div class="q-text">
                                <span>How to enable the leveling system?</span>
                            </div>
                        </div>
                        <div class="a">
                            <div class="a-icon">
                                <span>A</span>
                            </div>
                            <div class="a-text">
                                <span>
                                    <a href="/dashboard">Dashboard</a> > Your Server > Moderation > Toggle Level on
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="qna" id="how-to-toggle-anything-on-or-off">
                        <div class="highlight">
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                        <a href="#how-to-toggle-anything-on-or-off" class="copy-link">
                            <i class="fas fa-link"></i>
                        </a>
                        <div class="q">
                            <div class="q-icon">
                                <span>Q</span>
                            </div>
                            <div class="q-text">
                                <span>How to toggle anything on or off?</span>
                            </div>
                        </div>
                        <div class="a">
                            <div class="a-icon">
                                <span>A</span>
                            </div>
                            <div class="a-text">
                                <span>
                                    In the <a href="/dashboard">Dashboard</a> you can toggle commands, plugins and whole categories.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="qna" id="why-is-xy-not-working">
                        <div class="highlight">
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                        <a href="#why-is-xy-not-working" class="copy-link">
                            <i class="fas fa-link"></i>
                        </a>
                        <div class="q">
                            <div class="q-icon">
                                <span>Q</span>
                            </div>
                            <div class="q-text">
                                <span>Why is XY not working?</span>
                            </div>
                        </div>
                        <div class="a">
                            <div class="a-icon">
                                <span>A</span>
                            </div>
                            <div class="a-text">
                                <span>
                                    <ol>
                                        <li>Check if the category and the command/plugin is toggled on.</li>
                                        <li>Check Servant's permissions on your server and in the current text channel.</li>
                                        <li>Move the bot role higher in hierarchy.</li>
                                    </ol>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="qna" id="what-does-invalid-argument-or-invalid-mention-mean">
                        <div class="highlight">
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                        <a href="#what-does-invalid-argument-or-invalid-mention-mean" class="copy-link">
                            <i class="fas fa-link"></i>
                        </a>
                        <div class="q">
                            <div class="q-icon">
                                <span>Q</span>
                            </div>
                            <div class="q-text">
                                <span>What does "Invalid argument" or "Invalid mention" mean?</span>
                            </div>
                        </div>
                        <div class="a">
                            <div class="a-icon">
                                <span>A</span>
                            </div>
                            <div class="a-text">
                                <span>
                                    Arguments are what you provide after the command. E.g. for <span class="highlightme light">!clear 50</span> "50" is an argument.<br />
                                    Mentions are also known as pings, e.g. @Servant.<br />
                                    If it was invalid, you e.g. provided @everyone when a user mention was needed.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="qna" id="what-are-time-winner-and-participant-arguments">
                        <div class="highlight">
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                        <a href="#what-are-time-winner-and-participant-arguments" class="copy-link">
                            <i class="fas fa-link"></i>
                        </a>
                        <div class="q">
                            <div class="q-icon">
                                <span>Q</span>
                            </div>
                            <div class="q-text">
                                <span>What are time, winner and participant arguments?</span>
                            </div>
                        </div>
                        <div class="a">
                            <div class="a-icon">
                                <span>A</span>
                            </div>
                            <div class="a-text">
                                <span>
                                    These arguments show Servant when a command should end, how many winners a giveway can have or how many participants are allowed to signup.<br />
                                    <br />
                                    Valid arguments are:<br />
                                    - Days: days, day, d<br />
                                    - Hours: hours, hour, h<br />
                                    - Minutes: minutes, minute, min, m<br />
                                    - Winners (Giveaway): winners, winner, w<br />
                                    - Participants (Signup): participants, participant, p<br />
                                    <br />
                                    For example <span class="highlightme light">!giveaway 1w 2 day " a prize" 1 winner 1 h our</span> is a completely valid command.<br />
                                    The result would be: <span class="highlightme light">1w</span> + <span class="highlightme light">1 winner</span> = 2 winners and <span class="highlightme light">2 day</span> + <span class="highlightme light">1 h our</span> = in 2 days, 1 hour.<br />
                                    Spaces will be ignored, thats why <span class="highlightme light">h our</span> indeed does work.<br />
                                    Also it doesn't matter if the arguments are before the "a prize" or after... or both.<br />
                                    <br />
                                    Of course, that command looks messy. Fancier would be: <span class="highlightme light">!giveaway "a prize" 2w 2d 1h</span> which technically is exactly the same.
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
