<%- include('partials/header_1') -%>
<!-- Primary Meta Tags -->
<title>Servant | Dashboard: <%= guild.name %> — Fun</title>
<meta name="title" content="Servant | Dashboard: <%= guild.name %> — Fun">
<meta name="description" content="Toggle fun commands!">

<!-- SEO -->
<meta name="keywords" content="discord,discordbot,bot,bots,servant,moderation,information,fun,interaction,random,utility,role management,channel management,management,leveling,giveaways,giveaway,polls,poll,level,levels,social interactions,anime,voice management,voice channel,voice,embed,profile,birthday,coinflip,remindme,reminder,timezone">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="30 days">
<meta name="author" content="Tancred#0001">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://servant.gg/<%= guild.id %>/fun">
<meta property="og:title" content="Servant | Dashboard: <%= guild.name %> — Fun">
<meta property="og:description" content="Toggle fun commands!">
<meta property="og:image" content="https://i.imgur.com/lLuoClj.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://servant.gg/<%= guild.id %>/fun">
<meta property="twitter:title" content="Servant | Dashboard: <%= guild.name %> — Fun">
<meta property="twitter:description" content="Toggle fun commands!">
<meta property="twitter:image" content="https://i.imgur.com/lLuoClj.jpg">
<%- include('partials/header_2') -%>
<%- include('partials/nav') -%>
<%- include('partials/nav_highlights/nav_dash') -%>

<% const fun = disabledCategories[0] ? '' : 'checked'; %>

<div class="main-wrapper">
    <div class="dash-user-wrapper">
        <div class="dash-featured">
            <div id="meta"></div>
            <h1>Dashboard:
                <% if (guild.icon === null) { %>
                <img src="/images/no_user.png" alt="Default Server Icon">
                <% } else { %>
                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt="Server Icon">
                <% } %>
                <%= guild.name %>
            </h1>
            <div class="path"><a href="/">Home</a> > <a href="/dashboard">Dashboard</a> > <a href="/dashboard/<%= guild.id %>"><%= guild.name %></a> > <a href="/dashboard/<%= guild.id %>/fun">Fun</a></div>
        </div>
        <div class="main-content banner">
            <div class="padding-top padding-bottom padding-left padding-right">
                <div class="global-switch">
                    <div id="dismissible-item" data-component="dismissible-item" data-type="error" data-value="Couldn't update category toggle."></div>
                    <span><i class="fas fa-volleyball-ball"></i> Fun Category</span>
                    <label class="switch">
                        <input name="<%= guild.id %>" type="checkbox" onclick="submitCategories(this, 'fun')" <%= fun %>>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="com-sub-featured">
            <div class="padding-top padding-bottom padding-left padding-right">
                <h2>Commands</h2>
                <div id="dismissible-item-com" data-component="dismissible-item" data-type="error" data-value="Couldn't update command toggle."></div>

                <% let checked; %>
                <% for (let i = 0; i < commands.length; i++) { %>
                <%     checked = 'checked';  %>
                <%     const command = commands[i];  %>
                <%     if (disabledCommands !== undefined) {  %>
                <%         for (let j = 0; j < disabledCommands.length; j++) {  %>
                <%             const disabledCommand = disabledCommands[j]; %>
                <%             if (disabledCommand.command_id === command.id) { %>
                <%                 checked = ''; %>
                <%             } %>
                <%         } %>
                <%     } %>


                <div class="command-panel">
                    <span><%= prefix %><%= command.name %></span>
                    <label class="switch">
                        <input name="<%= guild.id %>" type="checkbox" onclick="submitCommands(this, '<%= command.name %>')" <%= checked %>>
                        <span class="slider round"></span>
                    </label>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
