<%- include('partials/header_1') -%>
<!-- Primary Meta Tags -->
<title>Servant | Dashboard: <%= guild.name %> — Moderation: Join</title>
<meta name="title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Join">
<meta name="description" content="Let users vote for the best images on your server!">

<!-- SEO -->
<meta name="keywords" content="discord,discordbot,bot,bots,servant,moderation,information,fun,interaction,random,utility,role management,channel management,management,leveling,giveaways,giveaway,polls,poll,level,levels,social interactions,anime,voice management,voice channel,voice,embed,profile,birthday,coinflip,remindme,reminder,timezone">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="30 days">
<meta name="author" content="Tancred#0001">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://servant.gg/<%= guild.id %>/moderation/join">
<meta property="og:title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Join">
<meta property="og:description" content="Let users vote for the best images on your server!">
<meta property="og:image" content="https://i.imgur.com/lLuoClj.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://servant.gg/<%= guild.id %>/moderation/join">
<meta property="twitter:title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Join">
<meta property="twitter:description" content="Let users vote for the best images on your server!">
<meta property="twitter:image" content="https://i.imgur.com/lLuoClj.jpg">
<%- include('partials/header_2') -%>
<%- include('partials/nav') -%>
<%- include('partials/nav_highlights/nav_dash') -%>

<% 
const plugin = disabledPlugins[0] ? '' : 'checked';
const join = joins.length > 0 ? joins[0] : undefined;
const joinMessage = join ? join.msg : 'Enjoy your stay!';
const tcId = join ? join.tc_id : '0';
const joinMsgReq = joinMessage ? 'required' : '';
%>

<div class="main-wrapper">
    <div class="dash-user-wrapper">
        <div class="dash-featured">
            <div id="meta"></div>
            <h1>Dashboard:
                <% if (guild.icon === null) { %>
                <img src="/images/no_user.png" alt="Default Server Icon">
                <% } else { %>
                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt="Server Icon">
                <% } %>
                <%= guild.name %>
            </h1>
            <div class="path"><a href="/">Home</a> > <a href="/dashboard">Dashboard</a> > <a href="/dashboard/<%= guild.id %>"><%= guild.name %></a> > <a href="/dashboard/<%= guild.id %>/moderation">Moderation</a> > <a href="/dashboard/<%= guild.id %>/moderation/join">Join</a></div>
        </div>
        <div class="main-content banner">
            <div class="padding-top padding-bottom padding-left padding-right">
                <div class="global-switch">
                    <div id="dismissible-item-plugins" data-component="dismissible-item" data-type="error" data-value="Couldn't update plugin toggle."></div>
                    <span><i class="fas fa-user-cog"></i> Join Plugin</span>
                    <label class="switch">
                        <input name="<%= guild.id %>" type="checkbox" onclick="submitPlugins(this, 'join')" <%= plugin %>>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="plugin-sub-featured">
            <div class="container">
                <div class="container-title">
                    <div class="left">
                        <h2>Join</h2>
                    </div>
                    <div class="right">
                        <div class="right-left">
                            <span class="circle-label"></span>
                        </div>
                        <div class="right-right">
                            <div class="circle-loader">
                                <div class="checkmark draw"></div>
                                <div class="errormark draw"></div>
                                <div class="errormark2 draw"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding-top padding-bottom padding-left padding-right">
                    <form action="/submit/join" method="POST" id="form-join">
                        <div class="settings-disclaimer">
                            <div class="ms-title">Welcome Message</div>
                            <div class="ms-description">A custom message for joining members.</div>
                            <div class="form-group">
                                <textarea onkeyup="setRequired(this); handleJoinMsg(this);" id="join-msg" name="join-msg" maxlength="2048" <%= joinMsgReq %>><%= joinMessage %></textarea>
                                <i class="bar"></i>
                            </div>
                        </div>
                        <div class="settings-disclaimer">
                            <div class="ms-title">Welcome Announcement</div>
                            <div class="ms-description">This is the text channel the welcome messages will be posted in.</div>
                            <div class="form-group">
                                <% let defaultSelected = tcId === '0' ? 'selected' : ''; %>
                                <select id="tc" name="tc" onchange="changeTcSel(this); submitJoin();">
                                    <option value="0" <%= defaultSelected %>>No text channel</option>
                                    <% botGuild.channels.cache.forEach(channel => { %>
                                    <%     if (channel.type === 'text' || channel.type === 'news') { %>
                                    <%         const selected = channel.id === tcId ? 'selected' : ''; %>
                                    <option value="<%= channel.id %>" <%= selected %>>#<%= channel.name %> <%= channel.parent ? '(' + channel.parent.name + ')' : '' %></option>
                                    <%     } %>
                                    <% }); %>
                                </select>
                                <i class="bar"></i>
                            </div>
                        </div>
                        <!-- to include it in url params -->
                        <input type="hidden" id="guild-id" name="guild-id" value="<%= guild.id %>" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
