<%- include('partials/header_1') -%>
<!-- Primary Meta Tags -->
<title>Servant | Dashboard: <%= guild.name %> — Moderation: Level</title>
<meta name="title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Level">
<meta name="description" content="Adjust leveling speed and reward users with roles upon level up!">

<!-- SEO -->
<meta name="keywords" content="discord,discordbot,bot,bots,servant,moderation,information,fun,interaction,random,utility,role management,channel management,management,leveling,giveaways,giveaway,polls,poll,level,levels,social interactions,anime,voice management,voice channel,voice,embed,profile,birthday,coinflip,remindme,reminder,timezone">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="30 days">
<meta name="author" content="Tancred#0001">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://servant.gg/<%= guild.id %>/moderation/level">
<meta property="og:title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Level">
<meta property="og:description" content="Adjust leveling speed and reward users with roles upon level up!">
<meta property="og:image" content="https://i.imgur.com/lLuoClj.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://servant.gg/<%= guild.id %>/moderation/level">
<meta property="twitter:title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Level">
<meta property="twitter:description" content="Adjust leveling speed and reward users with roles upon level up!">
<meta property="twitter:image" content="https://i.imgur.com/lLuoClj.jpg">
<%- include('partials/header_2') -%>
<%- include('partials/nav') -%>
<%- include('partials/nav_highlights/nav_dash') -%>

<script>
    var globalBotRoles = <%- JSON.stringify(botGuild.roles.cache) %>;
</script>

<% 
const notificationChecked = guildLevels.length > 0 ? (guildLevels[0].notification ? 'checked' : '') : 'checked';
const modifier = guildLevels.length > 0 ? guildLevels[0].modifier : '1.00';
%>

<div class="main-wrapper">
    <div class="dash-user-wrapper">
        <div class="dash-featured">
            <div id="meta"></div>
            <h1>Dashboard:
                <% if (guild.icon === null) { %>
                <img src="/images/no_user.png" alt="Default Server Icon">
                <% } else { %>
                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt="Server Icon">
                <% } %>
                <%= guild.name %>
            </h1>
            <div class="path"><a href="/">Home</a> > <a href="/dashboard">Dashboard</a> > <a href="/dashboard/<%= guild.id %>"><%= guild.name %></a> > <a href="/dashboard/<%= guild.id %>/moderation">Moderation</a> > <a href="/dashboard/<%= guild.id %>/moderation/level">Level</a></div>
        </div>
        <div class="main-content banner">
            <div class="padding-top padding-bottom padding-left padding-right">
                <div class="global-switch">
                    <div id="dismissible-item-plugins" data-component="dismissible-item" data-type="error" data-value="Couldn't update plugin toggle."></div>
                    <span><i class="fas fa-user-cog"></i> Level Plugin</span>
                    <label class="switch">
                        <input name="<%= guild.id %>" type="checkbox" onclick="submitPlugins(this, 'level')" <%= levelToggle %>>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="plugin-sub-featured">
            <!-- <div class="padding-top padding-bottom padding-left padding-right"> -->
            <div class="container">
                <div class="container-title">
                    <div class="left">
                        <h2>Level</h2>
                    </div>
                    <div class="right">
                        <div class="right-left">
                            <span class="circle-label"></span>
                        </div>
                        <div class="right-right">
                            <div class="circle-loader">
                                <div class="checkmark draw"></div>
                                <div class="errormark draw"></div>
                                <div class="errormark2 draw"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <form action="/submit/level" method="POST" id="form-level">
                    <br />

                    <div class="leveling-speed settings-disclaimer">
                        <div class="command-panel plugin">
                            <span>Level-up notification</span>
                            <label class="switch">
                                <input name="level-up-msg" id="level-up-msg" type="checkbox" onclick="submitLevel()" <%= notificationChecked %>>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>

                    <br />

                    <div class="leveling-speed settings-disclaimer">
                        <div class="ms-title">Leveling Speed</div>
                        <div class="ms-description">How fast should users gain exp?</div>
                        <div id="scale-display"><%= parseFloat(modifier).toFixed(2) %>x <%= modifier == '1.00' ? ' (recommended)' : '' %></div>
                        <div class="form-group">
                            <input onchange="handleLevelSpeed();" required type="range" name="level-speed" id="level-speed" min="0.25" max="4.0" step="0.25" value="<%= modifier %>" oninput="levelScale(this);">
                            <i class="bar"></i>
                        </div>
                    </div>

                    <br />

                    <div class="container1 level settings-disclaimer">
                        <div class="ms-title">Leveling Rewards</div>
                        <div class="ms-description">Reward users upon a level up with one or more roles. These can be used to climb higher in the member list or unlock channels.</div>

                        <div class="btn-redirect empty center-button" onclick="addLevelRole();">+ Add</div>
                        <br />

                        <div id="dismissible-item" data-component="dismissible-item" data-type="error" data-value="You cannot set he same role twice."></div>

                        <div id="level-roles">
                            <% let myLevelRoles = new Map(); %>
                            <% levelRoles.forEach(levelRole => { %>
                            <%     if (myLevelRoles.has(levelRole.level)) { %>
                            <%         myLevelRoles.set(levelRole.level, myLevelRoles.get(levelRole.level) + '|' + levelRole.role_id); %>
                            <%     } else { %>
                            <%         myLevelRoles.set(levelRole.level, levelRole.role_id); %>
                            <%     } %>
                            <% }); %>
                            <% let i = 1;  %>
                            <% for (const [key, value] of myLevelRoles) { %>
                            <%     let roleIds = value.split("|"); %>
                            <div class="roles level">
                                <span class="delete-level-role" onclick="deleteLevelRole(this)"><i class="fas fa-times-circle"></i></span>
                                <input type="number" id="level-<%= i %>" name="level-<%= i %>" placeholder="Level" min="1" max="9999" onkeyup="handleLevel(this)" value="<%= key == 0 ? "" : key %>">
                                <select onchange="handleLevelSelect();" id="level-roles-<%= i %>" name="level-roles-<%= i %>" data-placeholder="Select roles..." multiple class="chosen-select">
                                    <% botGuild.roles.cache.forEach(role => { %>
                                    <%     if (role.name !== "@everyone") { %>
                                    <%         let roleSelected = roleIds.includes(role.id) ? 'selected' : ''; %>
                                    <option style="color: #<%= role.color.toString(16) %>" value="<%= role.id %>" <%= roleSelected %>><%= role.name %></option>
                                    <%     } %>
                                    <% }); %>
                                </select>
                            </div>
                            <%     i++; %>
                            <% }; %>
                        </div>
                    </div>

                    <!-- to include it in url params -->
                    <input type="hidden" id="guild-id" name="guild-id" value="<%= guild.id %>" />
                </form>
            </div>

            <!-- </div> -->
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
