<%- include('partials/header-1') -%>
<!-- Primary Meta Tags -->
<title>Servant | Dashboard: <%= guild.name %> — Moderation: Livestream</title>
<meta name="title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Livestream">
<meta name="description" content="Easy livestream management without Twitch login!">

<!-- SEO -->
<meta name="keywords" content="discord,discordbot,bot,bots,servant,moderation,information,fun,interaction,random,utility,role management,channel management,management,leveling,giveaways,giveaway,polls,poll,level,levels,social interactions,anime,voice management,voice channel,voice,embed,profile,birthday,coinflip,remindme,reminder,timezone">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="30 days">
<meta name="author" content="Tancred#0001">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://servant.gg/<%= guild.id %>/moderation/livestream">
<meta property="og:title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Livestream">
<meta property="og:description" content="Easy livestream management without Twitch login!">
<meta property="og:image" content="https://i.imgur.com/lLuoClj.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://servant.gg/<%= guild.id %>/moderation/livestream">
<meta property="twitter:title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Livestream">
<meta property="twitter:description" content="Easy livestream management without Twitch login!">
<meta property="twitter:image" content="https://i.imgur.com/lLuoClj.jpg">
<%- include('partials/header-2') -%>
<%- include('partials/nav') -%>
<%- include('partials/nav-highlights/nav-dash') -%>

<script>
    var botRoles = <%- JSON.stringify(botGuild.roles.cache) %>;
</script>

<% 
var plugin = 'checked';
if (disabled_plugins[0]) {
    plugin = ''; 
}

let public_mode = 'checked';
let live_role_id = 0;
let tc_id = 0;
let announcement = '';
if (guild_livestreams.length > 0) {
    if (!guild_livestreams[0].is_public) public_mode = '';
    live_role_id = guild_livestreams[0].role_id;
    tc_id = guild_livestreams[0].tc_id;
    announcement = guild_livestreams[0].announcement;
}
%>

<div class="main-wrapper">
    <div class="dash-user-wrapper">
        <div class="dash-featured">
            <div id="meta"></div>
            <h1>Dashboard:
                <% if (guild.icon === null) { %>
                <img src="/images/no_user.png" alt="Default Server Icon">
                <% } else { %>
                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt="Server Icon">
                <% } %>
                <%= guild.name %>
            </h1>
            <div class="path"><a href="/">Home</a> > <a href="/dashboard">Dashboard</a> > <a href="/dashboard/<%= guild.id %>"><%= guild.name %></a> > <a href="/dashboard/<%= guild.id %>/moderation">Moderation</a> > <a href="/dashboard/<%= guild.id %>/moderation/livestream">Livestream</a></div>
        </div>
        <div class="main-content banner">
            <div class="padding-top padding-bottom padding-left padding-right">
                <div class="global-switch">
                    <div id="dismissible-item-plugins" data-component="dismissible-item" data-type="error" data-value="Error: Couldn't update plugin toggle."></div>
                    <span><i class="fas fa-user-cog"></i> Livestream Plugin</span>
                    <label class="switch">
                        <input name="<%= guild.id %>" type="checkbox" onclick="submit_plugins(this, 'livestream')" <%= plugin %>>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="plugin-sub-featured">
            <div class="container">
                <div class="container-title">
                    <div class="left">
                        <h2>Livestream</h2>
                    </div>
                    <div class="right">
                        <div class="right-left">
                            <span class="circle-label"></span>
                        </div>
                        <div class="right-right">
                            <div class="circle-loader">
                                <div class="checkmark draw"></div>
                                <div class="errormark draw"></div>
                                <div class="errormark2 draw"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <form action="/submit/livestream" method="POST" id="form_livestream">
                    <div class="livestream settings-disclaimer">
                        <div>If toggled on, every member will receive the "live"-role upon going live.</div>
                        <div class="command-panel">
                            <span>Public Mode</span>
                            <label class="switch">
                                <input name="livestream-public" id="livestream-public" type="checkbox" onclick="submit_livestream();" <%= public_mode %>>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>

                    <div class="livestream settings-disclaimer">
                        <div>Members with one of these roles are "streamers". Upon going live, the streamer will receive the "live"-role and an announcement will be posted.</div>
                        <br /><br />
                        <div class="form-group">
                            <select onchange="handle_livestream_select();" id="livestream-roles" name="livestream-roles" data-placeholder="Select roles..." multiple class="chosen-select">

                                <% botGuild.roles.cache.forEach(role => { %>

                                <% let selected = ""; %>
                                <% guild_livestreamers.forEach(streamer_role => { %>
                                <% if (streamer_role.role_id === role.id) { %>
                                <% selected = "selected"; %>
                                <% } %>
                                <% }); %>

                                <%      if (role.name !== "@everyone") { %>
                                <option style="color: #<%= role.color.toString(16) %>" value="<%= role.id %>" <%= selected %>><%= role.name %></option>
                                <%      } %>
                                <% }); %>

                            </select>
                            <label for="level_speed" class="control-label level">Streamer Roles</label><i class="bar"></i>
                        </div>
                    </div>

                    <div class="livestream settings-disclaimer">
                        <div>The role that streamers (and members if public mode) will receive upon going live</div>
                        <br />
                        <br />
                        <div class="form-group">
                            <select onchange="submit_livestream();" id="livestream-role" name="livestream-role">

                                <% botGuild.roles.cache.forEach(role => { %>
                                <%      if (role.name !== "@everyone") { %>
                                <%          let live_role_sel = live_role_id == role.id ? 'selected' : ''; %>
                                <option style="color: #<%= role.color.toString(16) %>" value="<%= role.id %>" <%= live_role_sel %>><%= role.name %></option>
                                <%      } %>
                                <% }); %>

                            </select>
                            <label for="level_speed" class="control-label level">Live Role</label><i class="bar"></i>
                        </div>
                    </div>

                    <div class="livestream settings-disclaimer">
                        <div>This is the text channel the announcement will be posted in.</div>
                        <br />
                        <div class="form-group embed">
                            <select id="tc" name="tc" onchange="changeTcSel(this); submit_livestream();" required>
                                <% let tc_default_selected = tc_id == 0 ? 'selected' : ''; %>
                                <option value="0" <%= tc_default_selected %>>No text channel (Announcement disabled)</option>
                                <% botGuild.channels.cache.forEach(channel => { %>
                                <% if (channel.type === 'text' || channel.type === 'news') { %>
                                <% let tc_selected = tc_id == channel.id ? 'selected' : ''; %>
                                <option value="<%= channel.id %>" <%= tc_selected %>>#<%= channel.name %> <%= channel.parent ? '(' + channel.parent.name + ')' : '' %></option>
                                <% } %>
                                <% }); %>
                            </select>
                            <label for="tc" class="control-label">Text Channel</label><i class="bar"></i>
                        </div>
                    </div>

                    <!-- to include it in url params -->
                    <input type="hidden" id="guild_id" name="guild_id" value="<%= guild.id %>" />
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
