<%- include('partials/header_1') -%>
<!-- Primary Meta Tags -->
<title>Servant | Dashboard: <%= guild.name %> — Moderation: Log</title>
<meta name="title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Log">
<meta name="description" content="Let users vote for the best images on your server!">

<!-- SEO -->
<meta name="keywords" content="discord,discordbot,bot,bots,servant,moderation,information,fun,interaction,random,utility,role management,channel management,management,leveling,giveaways,giveaway,polls,poll,level,levels,social interactions,anime,voice management,voice channel,voice,embed,profile,birthday,coinflip,remindme,reminder,timezone">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="30 days">
<meta name="author" content="Tancred#0001">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://servant.gg/<%= guild.id %>/moderation/log">
<meta property="og:title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Log">
<meta property="og:description" content="Let users vote for the best images on your server!">
<meta property="og:image" content="https://i.imgur.com/lLuoClj.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://servant.gg/<%= guild.id %>/moderation/log">
<meta property="twitter:title" content="Servant | Dashboard: <%= guild.name %> — Moderation: Log">
<meta property="twitter:description" content="Let users vote for the best images on your server!">
<meta property="twitter:image" content="https://i.imgur.com/lLuoClj.jpg">
<%- include('partials/header_2') -%>
<%- include('partials/nav') -%>
<%- include('partials/nav_highlights/nav_dash') -%>

<% 
const plugin = disabledPlugins[0] ? '' : 'checked';
const log = logs.length > 0 ? logs[0] : undefined;
const tcId = log ? log.tc_id : '0'; 
const msgUpdate = log ? (log.msg_update ? 'checked' : '') : ''; 
const msgDelete = log ? (log.msg_delete ? 'checked' : '') : ''; 
const reactionsRemove = log ? (log.reactions_remove ? 'checked' : '') : ''; 
const categoryCreate = log ? (log.category_create ? 'checked' : '') : ''; 
const categoryDelete = log ? (log.category_delete ? 'checked' : '') : ''; 
const vcCreate = log ? (log.vc_create ? 'checked' : '') : ''; 
const vcDelete = log ? (log.vc_delete ? 'checked' : '') : '';
const vcJoin = log ? (log.vc_join ? 'checked' : '') : '';
const vcMove = log ? (log.vc_move ? 'checked' : '') : '';
const vcLeave = log ? (log.vc_leave ? 'checked' : '') : '';
const tcCreate = log ? (log.tc_create ? 'checked' : '') : '';
const tcDelete = log ? (log.tc_delete ? 'checked' : '') : '';
const userBan = log ? (log.user_ban ? 'checked' : '') : '';
const userUnban = log ? (log.user_unban ? 'checked' : '') : '';
const inviteCreate = log ? (log.invite_create ? 'checked' : '') : '';
const inviteDelete = log ? (log.invite_delete ? 'checked' : '') : '';
const userJoin = log ? (log.user_join ? 'checked' : '') : '';
const userLeave = log ? (log.user_leave ? 'checked' : '') : '';
const roleAdd = log ? (log.role_add ? 'checked' : '') : '';
const roleRemove = log ? (log.role_remove ? 'checked' : '') : '';
const roleCreate = log ? (log.role_create ? 'checked' : '') : '';
const roleDelete = log ? (log.role_delete ? 'checked' : '') : '';
const emoteAdd = log ? (log.emote_add ? 'checked' : '') : '';
const emoteRemove = log ? (log.emote_remove ? 'checked' : '') : '';
const boostCount = log ? (log.boost_count ? 'checked' : '') : '';
const boostTier = log ? (log.boost_tier ? 'checked' : '') : '';
%>

<div class="main-wrapper">
    <div class="dash-user-wrapper">
        <div class="dash-featured">
            <div id="meta"></div>
            <h1>Dashboard:
                <% if (guild.icon === null) { %>
                <img src="/images/no_user.png" alt="Default Server Icon">
                <% } else { %>
                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt="Server Icon">
                <% } %>
                <%= guild.name %>
            </h1>
            <div class="path"><a href="/">Home</a> > <a href="/dashboard">Dashboard</a> > <a href="/dashboard/<%= guild.id %>"><%= guild.name %></a> > <a href="/dashboard/<%= guild.id %>/moderation">Moderation</a> > <a href="/dashboard/<%= guild.id %>/moderation/log">Log</a></div>
        </div>
        <div class="main-content banner">
            <div class="padding-top padding-bottom padding-left padding-right">
                <div class="global-switch">
                    <div id="dismissible-item-plugins" data-component="dismissible-item" data-type="error" data-value="Couldn't update plugin toggle."></div>
                    <span><i class="fas fa-user-cog"></i> Log Plugin</span>
                    <label class="switch">
                        <input name="<%= guild.id %>" type="checkbox" onclick="submitPlugins(this, 'log')" <%= plugin %>>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="plugin-sub-featured">
            <div class="container">
                <div class="container-title">
                    <div class="left">
                        <h2>Log</h2>
                    </div>
                    <div class="right">
                        <div class="right-left">
                            <span class="circle-label"></span>
                        </div>
                        <div class="right-right">
                            <div class="circle-loader">
                                <div class="checkmark draw"></div>
                                <div class="errormark draw"></div>
                                <div class="errormark2 draw"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding-top padding-bottom padding-left padding-right">
                    <form action="/submit/log" method="POST" id="form-log">
                        <div class="settings-disclaimer">
                            <div>This is the text channel the log will be posted in.</div>
                            <br />
                            <div class="form-group">
                                <% const defaultSelected = tcId === '0' ? 'selected' : ''; %>
                                <select id="tc" name="tc" onchange="changeTcSel(this); submitLog();">
                                    <option value="0" <%= defaultSelected %>>No text channel</option>
                                    <% botGuild.channels.cache.forEach(channel => { %>
                                    <%     if ((channel.type === 'text' || channel.type === 'news') && channel.viewable) { %>
                                    <%         const selected = channel.id === tcId ? 'selected' : ''; %>
                                    <%         const categoryName = channel.parent == null ? "" : "(" + channel.parent.name + ")"; %>
                                    <option value="<%= channel.id %>" <%= selected %>>#<%= channel.name %> <%= categoryName %></option>
                                    <%     } %>
                                    <% }); %>
                                </select>
                                <label for="tc" class="control-label">Text Channel</label><i class="bar"></i>
                            </div>
                        </div>

                        <div class="settings-disclaimer">
                            <div>What would you like to be notified for?</div>
                            <div class="log-checkboxes">
                                <div class="checkbox">
                                    <label>
                                        <input <%= msgUpdate %> id="msg-update" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Message updated
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= msgDelete %> id="msg-delete" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Message deleted
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= categoryCreate %> id="category-create" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Category created
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= categoryDelete %> id="category-delete" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Category deleted
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= vcCreate %> id="vc-create" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Voice channel created <span class="red">*</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= vcDelete %> id="vc-delete" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Voice channel removed <span class="red">*</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= vcJoin %> id="vc-join" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Voice channel joined <span class="red">*</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= vcMove %> id="vc-move" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Voice channel moved <span class="red">*</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= vcLeave %> id="vc-leave" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Voice channel left <span class="red">*</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= tcCreate %> id="tc-create" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Text channel created
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= tcDelete %> id="tc-delete" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Text channel deleted
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= userBan %> id="user-ban" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        User banned
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= userUnban %> id="user-unban" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        User unbanned
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= inviteCreate %> id="invite-create" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Invite created
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= inviteDelete %> id="invite-delete" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Invite deleted
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= userJoin %> id="user-join" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        User joined
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= userLeave %> id="user-leave" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        User left
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= roleAdd %> id="role-add" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        User received role(s)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= roleRemove %> id="role-remove" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        User got role(s) removed
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= roleCreate %> id="role-create" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Role created
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= roleDelete %> id="role-delete" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Role deleted
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= emoteAdd %> id="emote-add" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Emote added
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= emoteRemove %> id="emote-remove" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Emote removed
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= boostCount %> id="boost-count" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Boost count updated
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input <%= boostTier %> id="boost-tier" name="events" type="checkbox" onchange="handleLogChecks();"><i class="helper"></i>
                                        Boost tier updated
                                    </label>
                                </div>
                            </div>
                            <br />
                            <span class="red">*</span> This can be very spam heavy if you are using the voice lobby plugin.
                        </div>

                        <!-- to include it in url params -->
                        <input type="hidden" id="guild-id" name="guild-id" value="<%= guild.id %>" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
