<% var mod = 'checked'; %>
<% var utility = 'checked'; %>
<% var fun = 'checked'; %>
<% var interaction = 'checked'; %>
<% var random = 'checked'; %>

<% for (var i = 0; i < disabledCategories.length; i++) {  %>
<% if (disabledCategories[i].category_id === 3) { %>
<% mod = ''; %>
<% } %>
<% if (disabledCategories[i].category_id === 4) { %>
<% utility = ''; %>
<% } %>
<% if (disabledCategories[i].category_id === 5) { %>
<% fun = '';  %>
<% } %>
<% if (disabledCategories[i].category_id === 6) { %>
<% interaction = '';  %>
<% } %>
<% if (disabledCategories[i].category_id === 7) { %>
<% random = '';  %>
<% } %>
<% } %>

<div id="server-settings">
    <h3>Moderate Categories</h3>
    <p>Click on a category to moderate its plugins & commands</p>
    <div id="dismissible-item" data-component="dismissible-item" data-type="error" data-value="Couldn't update category toggles."></div>
    <a href="/dashboard/<%= guild.id %>/moderation" class="dashboard-button-cat">
        <span><i class="fas fa-user-cog"></i> Moderation</span>
        <div class="right">
            <label class="switch">
                <input name="<%= guild.id %>" type="checkbox" onclick="submitCategories(this, 'moderation')" <%= mod %>>
                <span class="slider round"></span>
            </label>
        </div>
    </a>
    <br />
    <a href="/dashboard/<%= guild.id %>/utility" class="dashboard-button-cat">
        <span><i class="far fa-lightbulb"></i> Utility</span>
        <div class="right">
            <label class="switch">
                <input name="<%= guild.id %>" type="checkbox" onclick="submitCategories(this, 'utility')" <%= utility %>>
                <span class="slider round"></span>
            </label>
        </div>
    </a>
    <br />
    <a href="/dashboard/<%= guild.id %>/fun" class="dashboard-button-cat">
        <span><i class="fas fa-volleyball-ball"></i> Fun</span>
        <div class="right">
            <label class="switch">
                <input name="<%= guild.id %>" type="checkbox" onclick="submitCategories(this, 'fun')" <%= fun %>>
                <span class="slider round"></span>
            </label>
        </div>
    </a>
    <br />
    <a href="/dashboard/<%= guild.id %>/interaction" class="dashboard-button-cat">
        <span><i class="far fa-comments"></i> Interaction</span>
        <div class="right">
            <label class="switch">
                <input name="<%= guild.id %>" type="checkbox" onclick="submitCategories(this, 'interaction')" <%= interaction %>>
                <span class="slider round"></span>
            </label>
        </div>
    </a>
    <br />
    <a href="/dashboard/<%= guild.id %>/random" class="dashboard-button-cat">
        <span><i class="fas fa-dice"></i> Random</span>
        <div class="right">
            <label class="switch">
                <input name="<%= guild.id %>" type="checkbox" onclick="submitCategories(this, 'random')" <%= random %>>
                <span class="slider round"></span>
            </label>
        </div>
    </a>
</div>
