<div id="moderate_guilds">
    <h3>Moderate one of your servers</h3>



    <% if (ownerGuilds.length < 1) { %>
    <p>You are not an owner, administrator or moderator of any server.</p>
    <% } else { %>
    <% ownerGuilds.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0));  %>

    <% ownerGuilds.forEach(guild => { %>
    <% var isOnGuild = false; %>
    <% if (bot.guilds.cache.get(guild.id) !== undefined) isOnGuild = true; %>

    <div class="dashboard-button-margin"></div>
    <% if (isOnGuild) { %>
    <a href="/dashboard/<%= guild.id %>" class="dashboard-button">
        <div class="guild-name">
            <% if (guild.icon === null) { %>
            <img src="images/no_user.png" alt="Default Server Icon">
            <% } else { %>
            <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt="Server Icon">
            <% } %>
            <span><%= guild.name %></span>
        </div>

        <div class="guild-invite">
            <input class="btn-redirect" type="submit" value="Go to dashboard" />
        </div>
    </a>
    <% } else { %>
    <a href="https://discord.com/oauth2/authorize?client_id=436916794796670977&permissions=419916880&scope=bot&guild_id=<%= guild.id %>" class="dashboard-button" target="_blank">
        <div class="guild-name">
            <% if (guild.icon === null) { %>
            <img src="images/no_user.png" alt="Default Server Icon">
            <% } else { %>
            <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt="Server Icon">
            <% } %>
            <span><%= guild.name %></span>
        </div>
        <div class="guild-invite">
            <input class="btn-redirect empty" type="submit" value="Invite Servant" />
        </div>
    </a>
    <% } %>
    <% }) %>
    <% } %>
</div>
