<!--
    Extra wrapper so the container is not the left side of
    the grid causing the panel to be spread over the whole site.
-->
<div>
    <div class="container small dark">
        <div class="container-title">
            <div class="left">
                <h2>Personal Settings</h2>
            </div>
            <div class="right">
                <div class="right-left">
                    <span class="circle-label"></span>
                </div>
                <div class="right-right">
                    <div class="circle-loader">
                        <div class="checkmark draw"></div>
                        <div class="errormark draw"></div>
                        <div class="errormark2 draw"></div>
                    </div>
                </div>
            </div>
        </div>


        <form action="/submit/user" method="POST" id="form-us">
            <% let prefix = ''; %>
            <% let bio = ''; %>
            <% let language = '0'; %>
            <% let color = '#7289da'; %>
            <% let birthday; %>
            <% let profileBgId; %>

            <% if (userData.length > 0) { %>
            <% prefix = userData[0].prefix; %>
            <% bio = userData[0].bio; %>
            <% language = userData[0].code %>
            <% color = userData[0].color_code; %>
            <% birthday = userData[0].birthday; %>
            <% profileBgId = userData[0].profile_bg_id; %>
            <% } %>

            <% let bg1; %>
            <% let bg2; %>
            <% let bg3; %>
            <% let bg4; %>
            <% let bg5; %>
            <% let bg6; %>
            <% let bg7; %>
            <% let bg8; %>
            <% let bg9; %>

            <% 
            if (profileBgId == 0 || profileBgId == 1) { 
                bg1 = 'checked';
            } else if (profileBgId == 2) {
                bg2 = 'checked'; 
            } else if (profileBgId == 3) {
                bg3 = 'checked'; 
            } else if (profileBgId == 4) {
                bg4 = 'checked'; 
            } else if (profileBgId == 5) {
                 bg5 = 'checked'; 
            } else if (profileBgId == 6) {
                bg6 = 'checked'; 
            } else if (profileBgId == 7) {
                bg7 = 'checked'; 
            } else if (profileBgId == 8) {
                bg8 = 'checked';
            } else if (profileBgId == 9) {
                bg8 = 'checked';
            }
            %>

            <% let bgUrl1; %>
            <% let bgUrl2; %>
            <% let bgUrl3; %>
            <% let bgUrl4; %>
            <% let bgUrl5; %>
            <% let bgUrl6; %>
            <% let bgUrl7; %>
            <% let bgUrl8; %>
            <% let bgUrl9; %>

            <% 
            backgrounds.forEach(bg => {
                switch (bg.id) {
                    case 1:
                        bgUrl1 = bg.image_url;
                    break;
                    case 2:
                        bgUrl2 = bg.image_url;
                    break;
                    case 3:
                        bgUrl3 = bg.image_url;
                    break;
                    case 4:
                        bgUrl4 = bg.image_url;
                    break;
                    case 5:
                        bgUrl5 = bg.image_url;
                    break;
                    case 6:
                        bgUrl6 = bg.image_url;
                    break;
                    case 7:
                        bgUrl7 = bg.image_url;
                    break;
                    case 8:
                        bgUrl8 = bg.image_url;
                    break;
                    case 9:
                        bgUrl9 = bg.image_url;
                    break;
                
                    default:
                        break;
                }
            });
            %>

            <% let required = ''; %>
            <% if (prefix) required = 'required'; %>

            <div class="solo-group">
                <div class="settings-disclaimer">
                    <div>
                        The personal prefix and language only applies in <strong>direct messages</strong>!<br />
                        To change these options on your server, please use the corresponding server dashboard.
                    </div>
                    <br />
                    <div class="form-group">
                        <input onkeyup="setRequired(this);" id="prefix-us" name="prefix-us" type="text" maxlength="5" value="<%= prefix %>" <%= required %> />
                        <label for="prefix-us" class="control-label">Prefix (Default: !)</label><i class="bar"></i>
                    </div>

                    <div class="form-group">
                        <select id="language-us" name="language-us">
                            <% for (var i = 0; i < languages.length; i++) { %>
                            <% var selected = language == '0' ? (languages[i].code == 'en_gb' ? 'selected' : '') : (language == languages[i].code ? "selected" : ""); %>
                            <option value="<%= languages[i].code %>" <%= selected %>><%= languages[i].name %></option>
                            <% } %>
                        </select>
                        <label for="language-us" class="control-label">Language</label><i class="bar"></i>
                    </div>
                </div>

                <% if (bio) required = 'required'; else required = ''; %>



                <div class="settings-disclaimer">
                    The birthday will affect birthday lists and gratulations.

                    <div class="button-container">
                        <button onclick="submitUsBdayClear();" id="birthday-clear" name="birthday-clear" type="button" class="btn-redirect empty small"><span>Clear birthday</span></button>
                    </div>

                    <br />

                    <div class="form-group">
                        <input onchange="submitBday()" id="birthday" name="birthday" type="date" value="<%= birthday != '0000-00-00' ? birthday : '' %>" required />
                        <label for="birthday" class="control-label">Birthday</label><i class="bar"></i>
                    </div>
                    <div>Select servers that are allowed to see your birthday.</div>

                    <span class="multiple-select-label">Birthday Servers</span>

                    <select onchange="submitBdayGuilds();" id="bday-guilds" name="bday-guilds" data-placeholder="Select servers..." multiple class="chosen-select" name="test">
                        <% let guilds = req.user.guilds; %>
                        <% guilds.forEach(guild => { %>

                        <% let serverIconUrl = 'images/no_user.png'; %>
                        <% if (guild.icon !== null) { %>
                        <% serverIconUrl = "https://cdn.discordapp.com/icons/" + guild.id + "/" + guild.icon + ".png"; %>
                        <% } %>

                        <% let selected = ""; %>
                        <% birthdayGuilds.forEach(bdayGuild => { %>
                        <% if (bdayGuild.guild_id === guild.id) { %>
                        <% selected = "selected"; %>
                        <% } %>
                        <% }); %>

                        <option data-img-src="<%= serverIconUrl %>" value="<%= guild.id %>" <%= selected %>>
                            <%= guild.name %>
                        </option>
                        <% }); %>
                    </select>
                </div>
                <br />

                <div class="settings-disclaimer">
                    <div>The bio will affect your profile on every server.</div>
                    <br />
                    <div class="form-group">
                        <textarea onkeyup="setRequired(this);" id="bio" name="bio" maxlength="30" <%= required %>><%= bio %></textarea>
                        <label for="bio" class="control-label">Bio</label><i class="bar"></i>
                    </div>
                </div>

                <% let disabled = isSupporter ? '' : 'disabled'; %>

                <% if (!isSupporter) { %>
                <div class="patron-border supporter-tooltip">
                    <a href="/donate">
                        <div class="patron-notify">Supporter Only
                            <span class="supporter-tooltip-wrapper">
                                <i class="far fa-question-circle"></i>
                                <span class="supporter-tooltiptext">
                                    <h3>Become a supporter</h3>
                                    <img src="/images/become_supporter.png" alt="Supporter">
                                </span>
                            </span>
                        </div>
                    </a>
                    <% } %>


                    <div class="settings-disclaimer">
                        The embed colour will affect all messages by Servant with "embed links".

                        <div class="button-container">
                            <button onclick="submitUsColorClear();" id="color-clear" name="color-clear" type="button" class="btn-redirect empty small" <%= disabled %>><span>Reset colour</span></button>
                        </div>

                        <div class="form-group color">
                            <input type="color" id="embedcolor" name="embedcolor" value="<%= color %>" <%= disabled %>>
                            <label for="embedcolor" class="color-label">Embed Colour</label><i class="bar"></i>
                        </div>
                    </div>

                    <div class="settings-disclaimer">
                        The background image will affect your profile on every server.
                        <div class="button-container">
                            <button onclick="submitUsBgClear();" id="bg-clear" name="bg-clear" type="button" class="btn-redirect empty small" <%= disabled %>><span>Reset image</span></button>
                        </div>
                        <br />
                        <div class="multiple-select-label">Background images</div>

                        <br />

                        <div class="profile-bg-images">
                            <label>
                                <input type="radio" id="bg-1" name="bg" value="1" <%= bg1 %> <%= disabled %> onclick="submitUs();">
                                <img src="<%= bgUrl1 %>">
                            </label>

                            <label>
                                <input type="radio" id="bg-2" name="bg" value="2" <%= bg2 %> <%= disabled %> onclick="submitUs();">
                                <img src="<%= bgUrl2 %>">
                            </label>

                            <label>
                                <input type="radio" id="bg-3" name="bg" value="3" <%= bg3 %> <%= disabled %> onclick="submitUs();">
                                <img src="<%= bgUrl3 %>">
                            </label>

                            <label>
                                <input type="radio" id="bg-4" name="bg" value="4" <%= bg4 %> <%= disabled %> onclick="submitUs();">
                                <img src="<%= bgUrl4 %>">
                            </label>

                            <label>
                                <input type="radio" id="bg-5" name="bg" value="5" <%= bg5 %> <%= disabled %> onclick="submitUs();">
                                <img src="<%= bgUrl5 %>">
                            </label>

                            <label>
                                <input type="radio" id="bg-6" name="bg" value="6" <%= bg6 %> <%= disabled %> onclick="submitUs();">
                                <img src="<%= bgUrl6 %>">
                            </label>

                            <label>
                                <input type="radio" id="bg-7" name="bg" value="7" <%= bg7 %> <%= disabled %> onclick="submitUs();">
                                <img src="<%= bgUrl7 %>">
                            </label>

                            <label>
                                <input type="radio" id="bg-8" name="bg" value="8" <%= bg8 %> <%= disabled %> onclick="submitUs();">
                                <img src="<%= bgUrl8 %>">
                            </label>

                            <label>
                                <input type="radio" id="bg-9" name="bg" value="9" <%= bg8 %> <%= disabled %> onclick="submitUs();">
                                <img src="<%= bgUrl9 %>">
                            </label>
                        </div>
                    </div>
                    <% if (!isSupporter) { %>
                </div>
                <% } %>
            </div>
        </form>
    </div>
</div>
